Dependencies
/node_modules
/client/node_modules
/server/node_modules

Lockfiles - Ignore the one we are NOT using
package-lock.json
client/package-lock.json
server/package-lock.json

Build output
/dist
/client/dist

Env files
.env
.env.*
!.env.example

Editor / OS specific
.vscode/
.DS_Store